<% html = Nokogiri::HTML.fragment(render(:parent)) %>
<%
html.search("div.document-item").each do |item|
  # Get the description and the updated date
  description = item.at_css("div.description").content
  updated_on = item.at_css("div.updated_on").content

  # Remove the description and the updated date
  item.at_css("div.description").remove
  item.at_css("div.updated_on").remove

  # Clean the description
  description = textilizable(description)
  description = description.gsub(/¶/, "")
  description = description.gsub(/<\/?pre>/, "")

  # Insert the description as a tooltip to the link
  item.at_css("a")["data-ot"] = description

  # Insert the updated date on the right side of the title
  item.at_css("h4").add_child('<span style="float:right; font-size:11px;"><em>' + updated_on + '</em></span>')
end
%>
<%= raw html %>

<!-- Opentip -->
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'opentip', :plugin => 'redmine_documents_short' %>
    <%= javascript_include_tag 'opentip-native.min.js', :plugin => 'redmine_documents_short' %>
<% end %>

<script type="text/javascript">
// Create a style for all document Opentips
Opentip.styles.document = {
  extends: "dark",
  target: true,
  tipJoint: "top"
};

// Now set the style as default
Opentip.defaultStyle = "document"; 
</script>
